body {
    padding-top: 5rem;
  }


  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }


  $primary-color: #c1d62e;
$primary-color-hover: #b1c522;



  .navbar-light .navbar-brand {
    color: $primary-color !important;
  }
  
  .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: $primary-color-hover !important;
  }
  
  .list-group-item.active {
    background-color: $primary-color !important;
    border-color: $primary-color !important;
  }
  
  .btn-primary {
    background-color: $primary-color !important;
    border-color: $primary-color !important;
  }
  
  .btn-primary:hover {
    background-color: $primary-color-hover !important;
    border-color: $primary-color-hover !important;
  }
  
  .btn-primary.disabled, .btn-primary:disabled {
    background-color: $primary-color !important;
    border-color: $primary-color !important;
  }
  
  .form-control:focus {
    border-color: $primary-color !important;
  }